footer {
  position: fixed;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: #fff;
  -webkit-box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1rem;
    li {
      display: inline-block;
      width: 25%;
      a {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        text-decoration: none;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center center;
      }
      &.home {
        a {
          background: url('../images/home.svg');
        }
        &.active {
          a {
            background: url('../images/home_active.svg');
          }
        }
      }
      &.stuff {
        a {
          background: url('../images/stuff.svg');
        }
        &.active {
          a {
            background: url('../images/stuff_active.svg');
          }
        }
      }
      &.shelters {
        a {
          background: url('../images/shelters.svg');
        }
        &.active {
          a {
            background: url('../images/shelters_active.svg');
          }
        }
      }
      &.account {
        a {
          background: url('../images/acc.svg');
        }
        &.active {
          a {
            background: url('../images/acc_active.svg');
          }
        }
      }
    }
  }
}