html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #333333;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #333333;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

h1 {
  color: #f8f8f8;
  font-family: helvetica;
}

header,
footer {
  display: block;
}

.wrapper,
.pet-detail{
  padding-bottom: 4rem;
  padding-top: 3.5rem;
}

.content {
  padding: .6rem .5rem;
}

.detail-header {
  color: #000;
  font-weight: 600;
  padding: .5rem 1.5rem .7rem 1.5rem;
  font-size: 1.24rem;
}

/*Tile start*/

.tile {
  background: #fff;
  -webkit-box-shadow: 4px 5px 7px -5px #333;
  -moz-box-shadow: 4px 5px 7px -5px #333;
  box-shadow: 4px 5px 7px -5px #333;
  border-radius: .2rem;
  padding: .8rem .8rem .8rem 1.1rem;
  overflow: hidden;
  margin-bottom: 0.6rem;
  .about {
    margin-top: .8rem;
    overflow: hidden;
    width: 100%;
    .image-wrap {
      width: 46%;
      overflow: hidden;
      float: left;
    }
    img {
      float: left;
      width: 10.4rem;
      height: 10.4rem;
      border-radius: 10rem;
    }
    .description {
      font-size: 1rem;
      float: right;
      width: 49%;
      padding: .3rem 0 0 .3rem;
      h4 {
        font-weight: 600;
        margin-bottom: .6rem;
      }
    }
  }
  .donations {
    overflow: hidden;
    padding-top: .6rem;
    ul {
      &.avatars {
        float: left;
        margin: 0.1rem .3rem .2rem 0;
        li {
          display: inline-block;
          margin-left: -.5rem;
          &:first-child {
            margin-left: 0;
          }
          i {
            width: 1.55rem;
            height: 1.55rem;
            display: block;
            border-radius: 10rem;
            overflow: hidden;
            text-indent: -999rem;
            background-repeat: no-repeat;
          }
        }
      }
      &.counts {
        font-size: .8rem;
        float: left;
        line-height: 2rem;
        margin-left: .8rem;
        color: #7A7A7A;
        li {
          position: relative;
          &:first-child {
            margin-right: 1.3rem;
            &:after {
              content: " \2219 ";
              position: absolute;
              right: -.9rem;
              top: 0;
            }
          }
          display: inline-block;
        }
      }
    }
  }
  .likes {
    color: #7A7A7A;
    word-spacing: .01rem;
    font-size: .86rem;
    margin-top: .05rem;
    margin-left: -.1rem;
    overflow: hidden;
    i {
      float: left;
      width: 1.55rem;
      height: 1.55rem;
      text-indent: -9999rem;
      overflow: hidden;
      background: url('../images/like_active.svg') no-repeat center center;
      background-size: 94%;
      margin: 0 .7rem 0 0;
    }
    span {
      float: left;
      margin-top: .2rem;
    }
  }
}

.tile-header {
  overflow: hidden;
  h3 {
    margin: 0;
    float: left;
    font-size: 1.3rem;
    overflow: hidden;
  }
  .shares {
    float: right;
    padding-top: .1rem;
    height: 1.8rem;
    i {
      display: inline-block;
      width: 2rem;
      height: 1.8rem;
      text-indent: -9999rem;
      overflow: hidden;
      &:first-child {
        background: url('../images/share.svg') no-repeat center center;
        background-size: 90%;
      }
      &:last-child {
        background: url('../images/like.svg') no-repeat center center;
        background-size: 94%;
        margin: 0 0 0 1rem;
      }
    }
  }
}

/*Tile end*/

/*Tile-details start*/

.page-detail {
  &.tile {
    overflow: hidden;
    padding: 1rem 1.5rem;
    background: #fff;
    -webkit-box-shadow: inset 0px 33px 24px -32px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 33px 24px -32px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 33px 24px -32px rgba(0, 0, 0, 0.5);
    .header-detail {
      margin: .4rem 0 0 .1rem;
      .shares {
        margin: -.2rem -.1rem 0 0;
        i {
          &:first-child {
            background-size: 76%;
          }
          &:last-child {
            background-size: 86%;
          }
        }
      }
    }
    div.about {
      margin-top: .5rem;
      img {
        width: 10.3rem;
        height: 10.3rem;
      }
      ul {
        margin: .4rem 0 0 1.4rem;
        li {
          position: relative;
          &:first-child {
            padding-left: 1.9rem;
            color: #009688;
            &:before {
              content: '';
              background: url('../images/home_mini.svg') no-repeat center center;
              position: absolute;
              left: -.3rem;
              top: -.08rem;
              width: 1.6rem;
              height: 1.6rem;
              background-size: 86%;
            }
          }
        }
      }
    }
    .tile-header {
      h3 {
        font-size: 1.05rem;
      }
    }
  }
  .contact-info {
    overflow: hidden;
    font-size: 1rem;
    margin: 1.2rem 0 0 0;
    width: 100%;
    td,
    a {
      color: #009688;
      font-weight: 600;
    }
    td {
      padding-bottom: .5rem;
      &:first-child {
        color: #333333;
        font-weight: 400;
        padding-left: 0;
      }
      span {
        font-weight: 600;
      }
      div {
        position: relative;
        padding-left: 2rem;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .info-icon {
      div {
        padding-left: 2.6rem;
        &:before {
          background: url('../images/plate_active.svg') no-repeat;
          width: 1.9rem;
          height: 1.9rem;
          top: -.3rem;
        }
      }
    }
    .phone-icon {
      div {
        &:before {
          background: url('../images/phone_active.svg') no-repeat;
          width: 1.3rem;
          height: 1.3rem;
        }
      }
    }
    .fb-icon {
      div {
        padding-left: 2.4rem;
        &:before {
          background: url('../images/fb_active.svg') no-repeat;
          width: 1.5rem;
          height: 1.5rem;
          left: .1rem;
        }
      }
    }
  }
  .btn {
    &.main {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
  .check-payments {
    color: #7A7A7A;
    font-size: .95rem;
    a {
      color: #009688;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  .gallery {
    width: 100%;
    margin-top: 1rem;
    td {
      .mini {
        padding: 0;
        margin: 0;
        overflow: hidden;
        &:before {
          display: none;
        }
        img {
          &:first-child {
            margin-left: 0;
          }
        }
      }
      div {
        position: relative;
        color: #009688;
        font-size: 1rem;
        padding-left: 2rem;
        margin-bottom: .4rem;
        &:before {
          content: '';
          position: absolute;
          left: 0rem;
          top: -.1rem;
          width: 1.6rem;
          height: 1.6rem;
        }
      }
      .photo-gal {
        &:before {
          background: url('../images/ins_active.svg') no-repeat center center;
          width: 1.4rem;
          height: 1.4rem;
        }
      }
      .video-gal {
        padding-left: 2.2rem;
        &:before {
          background: url('../images/video_active.svg') no-repeat center center;
        }
      }
      img {
        width: 3.5rem;
        height: 3.5rem;
        margin-left: .1rem;
      }
    }
  }
  .description {
    overflow: hidden;
    font-size: 1rem;
    margin-top: -.25rem;
    margin-bottom: .5rem;
    h5 {
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: .3rem;
      margin-top: 1.2rem;
    }
    ul {
      padding-left: .7rem;
      li {
        position: relative;
        &:before {
          content: " \2219 ";
          position: absolute;
          font-size: 1.5rem;
          left: -1rem;
          top: -.4rem;
        }
      }
    }
  }
}

.shelter {
  .about {
    img {
      margin-right: 1rem;
    }
  }
  .about_item {
    font-size: 1rem;
  }
  .our-pets {
    margin-top: .9rem;
    h5 {
      font-size: 1.2rem;
      margin-bottom: .8rem;
    }
    div {
      width: 250%;
      img {
        margin-left: 1.1rem;
        width: 5.7rem;
        height: 5.7rem;
        &:first-child {
          margin: 0;
        }
      }
    }
  }
  .address {
    margin-top: 1rem;
    h6,
    div {
      font-size: 1rem;
    }
    .address_details {
      margin: .3rem 0 0 0;
      width: 18rem;
    }
    .map {
      background: url('../images/Map.png') no-repeat center center;
      width: 100%;
      height: 12.2rem;
      background-size: 100%;
      margin: .6rem 0 .5rem 0;
      position: relative;
      i {
        background: url('../images/location_active.svg') no-repeat center center;
        width: 4rem;
        height: 5rem;
        position: absolute;
        top: 2.5rem;
        left: 47%;
      }
    }
  }
}

/*Tile-details end*/

/*Progress bar start*/

.pr_bar {
  font-size: 1rem;
  margin-top: 1.3rem;
}

.meter {
  height: .8rem;
  position: relative;
  background: #F2F2F2;
  overflow: hidden;
  margin-top: .4rem;
  border-radius: .4rem;
}

.meter span {
  display: block;
  height: 100%;
  border-radius: .4rem;
  opacity: .7;
}

.progress {
  background-color: #009688;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode:both;
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

/*Progress bar end*/


/*Buttons start*/

.btn {
  background: #009688;
  border-radius: .2rem;
  color: #fff;
  border: 0;
  &.main {
    width: 100%;
    padding: .92rem 0;
    font-size: 1.3rem;
    margin-top: 1.4rem;
    margin-bottom: 0.6rem;
  }
  &.negative {
    background: none;
    color: #009688;
  }
  &.fb {
    width: 100%;
    padding: .82rem 0 1rem 0;
    font-size: 1.4rem;
    background: #006dcb;
    margin: 2.2rem 0 0 0;
  }
}

/*Buttons end*/

/*Forms start*/

input {
  background: #fff;
  border: 1px #979797 solid;
  height: 2.45rem;
  margin-top: .1rem;
  font-size: 1.3rem;
  padding: 0 .7rem;
  border-radius: .2rem;
  position: relative;
}
::-webkit-input-placeholder {
  color: #999999;
}

/*Forms end*/

@media (max-width: 350px) {
  .page-detail.tile div.about img,
  .tile .about img {
    width: 7.7rem;
    height: 7.7rem;
  }
  .page-detail.tile div.about ul {
    margin: .4rem 0 0 1rem;
    font-size: .8rem;
  }
  .page-detail .contact-info {
    font-size: .8rem;
    .curator {
      font-size: .7rem;
    }
  }
  .tile .donations ul.counts {
    font-size: .7rem;
    margin-left: .5rem;
  }
  .page-detail .gallery td div {
    font-size: .9rem;
    margin-bottom: .6rem;
  }
  .page-detail .gallery td img {
    width: 2.55rem;
    height: 2.55rem;
  }
  .shelter .about_item {
    font-size: .75rem;
  }
  button.btn.fb,
  button.btn.main {
    font-size: 1.1rem;
  }
  button.btn.main {
    padding: .62rem 0;
  }
  div.login-wrap .pet_helper_logo {
    width: 13rem;
    background-size: 98%;
  }
  div.login-wrap .forgot {
    font-size: 1.1rem;
  }
  div.login-wrap form {
    margin: 2.4rem 0 .4rem;
  }
  div.login-wrap {
    padding: 2.8rem 3.5rem;
  }
  div.login-wrap form input {
    height: 2.7rem;
  }
}

@media (min-width: 351px) and (max-width: 376px) {
  .page-detail.tile div.about img,
  .tile .about img {
    width: 9.4rem;
    height: 9.4rem;
  }
  .page-detail .contact-info {
    font-size: .87rem;
  }
  .page-detail .gallery td img {
    width: 3.1rem;
    height: 3.1rem;
  }
  .shelter .about_item {
    font-size: .9rem;
  }
  .login-wrap .sign-up {
    font-size: 1.1rem;
  }
}
